{% extends "base.html" %}

{% block subtitle %}<h4>Wyoming & Montana  -  2019</h4>{% endblock %}
{% block navbar %}
<ul class="navbar-list">
  <li class="navbar-item">
    <a class="navbar-link" href="../../index.html"> < Home</a>
  </li>
  <li class="navbar-item navbar-item-current">
    <a class="navbar-link" href="index.html">Mélange</a>
  </li>
  <li class="navbar-item">
    <a class="navbar-link" href="gallery.html">Gallery</a>
  </li>
</ul>
{% endblock %}
{% block content %}
  <!-- <video -->
  <!--   class="video-montage" -->
  <!--   src="../../videos/WY-MT-2019.mov" -->
  <!--   autoplay -->
  <!-- ></video> -->
  <img src="../../images/teton_splash.png"
       style="width: 100%;" >
  <br>
  <p style="border: 2px solid gray; margin-left: 10%; margin-right: 10%;">
    <i>At some point there will be a video montage (mélange) in place of the graphic above.</i>
  </p>
  <br>
  <p>
  My mom and I went to Montana and Wyoming for a week in October. We visited Yellowstone National Park, Grand Teton National Park, and the town of Jackson Hole, WY.
  </p>
  <p>
  Noteworthy experiences include: emerging from the trees into a prairie accompanied by bison and a grizzly; standing on the brink of boiling hot springs, pondering how much of the Earth's surface was likely covered in these bacteria- and algae-tinted pools at one point in time; and standing on riverbanks at the crack of dawn in temperatures rangeing from 17℉ to 3℉. 
  </p>
  <p>
  I hope you enjoy these images.
  </p>
{% endblock %}
