@import "skeleton-flexbox.min.css";
@import "fonts.css";

/* .container { */
/*   max-width: 80%; */
/* } */

/* @media (min-width: 400px) { */
/*   .container { */
/*     width: 100%; */
/*   } */
/* } */

/* @media (max-width: 800px) { */
/*   .container { */
/*     width: 100%; */
/*     max-width: 95%; */
/*   } */
/* } */

@media only screen and (max-width: 700px) {
  .container {
    width: 95%;
  }
}

* {
  font-family: 'Josefin Slab', serif;
}

p {
  font-size: 2rem;
  line-height: 130%;
  text-align: left;
}

.subtitle:before {
  content: "";
  position: absolute;
  border-bottom: 2px solid black;
  border-top: 2px solid black;
  right: 100%;
  width: 500px;
}

.navbar-list {
  display: inline;
  list-style-type: none;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.navbar-item {
  display: inline-block;
  padding: 1rem;
}

.navbar-item-current a {
  color: black;
}

.navbar-link {
  text-decoration: none;
  color: gray;
  border-bottom: 1px solid transparent;
  transition: all .5s;
}

.navbar-link:hover {
  color: black;
  border-color: black;
}

.navbar-dropdown-content {
  display: none;
  z-index: 1;
  position: absolute;
  text-align: left;
  margin-left: 0;
}

.navbar-dropdown:hover .navbar-dropdown-content {
  display: block;
}

.gallery-img {
  max-width: 100%;
}

.gallery-frame {
  cursor: pointer;
  /* transition: opacity .5s; */
  margin-bottom: 12rem;
}

.gallery-frame:hover {
  /* opacity: 0.7; */
}

.gallery-frame:hover .gallery-img-title {
  border-color: rgba(0, 0, 0, 0.7);
}

.gallery-img-title {
  color: black;
  font-size: 1.3rem;
  float: left;
  border-bottom: 1px solid transparent;
  /* transition: all .5s; */
}

.gallery-img-date {
  color: black;
  font-size: 1.3rem;
  float: right;
  border-bottom: 1px solid transparent;
  /* transition: all .5s; */
}

video.video-montage {
  display: block;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
    style="display: block; max-width: 100%;"
}

div.loupe-arrow {
  padding-top: 25%;
}

.loupe-arrow-link {
  text-decoration: none;
  font-size: 4rem;
  color: black;
}

.loupe-arrow-link-disabled {
  color: lightgray;
}
